$maincolor: #217BF4;
$h1color:#0A093D;
@mixin container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
@mixin flex{
    display: flex;
        align-items: center;
        gap: 10px;
}
@mixin buttons{
    background-color: $maincolor;
    padding: 15px 40px;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 18px;
}
@mixin column{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
@mixin colorp{
color: #656464;
font-size: 18px;
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif
}
header{
    @include container();
    div{
        display: flex;
        gap: 50px;
        align-items: center;
        nav{
            display: flex;
            gap: 20px;
        }
    }
    input{
        border: none;
        outline: none;
        border-bottom: 1px solid gray;
    }

}
.section1{
    @include container();
    aside{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: start;
        h1{
            font-size: 50px;
        }
        button{
            @include buttons();
            background-color: #E8F1FE;
            color: $maincolor;
        }
        div{
            button:first-child{
                @include buttons;
            }
            button:last-child{
                @include buttons;
                background-color: white;
                border: 1px solid $maincolor;
                color: $maincolor;
            }
        }
    }
}
.section2{
    @include container();
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
       p:first-child{
color: $maincolor;
font-size: 25px;
        }
    h1{
        font-size: 40px;
    }
   .p{
    width: 450px;
    color: grey;
    font-size: 20px;
   }
    .s{
display:flex ;
align-items: center;
gap: 20px;
.ss{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
    }
    aside{
      display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: start;  
        .rowgap{
            display: flex;
            flex-direction: column;
            row-gap: 8px;
            font-weight: 600;
            font-size: 18px;
            p:nth-child(1){
                font-size: 18px;
            }
        } 
     
    }
}
.section3{
@include container();
    margin-top: 150px;
    display: flex;
justify-content: space-between;
    .s3flex{
    display: flex;
    gap: 40px

}
    .flex{
        @include flex;

  p{
    color: grey;
    span{
        color:$maincolor;
        font-size:16px;
        font-weight: 600;
    }
  }
    }
    .card{
border-radius: 10px;
        width: 240px;
        box-shadow: 0px 0px 3px black;
        height: 250px;
        padding: 20px;
        @include column();
      .pp {
           @include colorp;
        }
        .pj{
            color: $maincolor;
            font-size: 18px;
        }
    }
}
aside{
    width: 400px;
    @include column();
    p:first-child{
color: $maincolor;

    }
    p:nth-child(3){
        color: grey;
        font-size: 20px;
    }
    button{
        @include buttons();
        width: 270px;
    }
    h1{
        color: $h1color;
        font-size: 40px;
    }
}
.section4{
    @include container();
    display: flex;
    flex-direction: column;
row-gap: 50px;
margin-top: 150px;
    .clmn{
        @include column();
        text-align: center;
        row-gap: 5px;
        p:first-child{
color: $maincolor;
font-size: 20px;
font-weight: 600;
        }
        h1{
            font-size: 30px;
            color: $h1color;
        }
        p:nth-child(3){
            font-size: 18px;
            color: grey;
        }
    }
    .s4cards{
        display: flex;
        flex-direction: column;
        row-gap: 30px;
         .crdtop{
                display: flex;
                gap: 30px;
            }
        .s4card{
            display: flex;
            align-items: center ;
            gap: 15px;
           
            .crdclmn{
display: flex;
flex-direction: column;
row-gap: 10px;
h2{
    color: $h1color;
}
p{
    @include colorp();
}
            }
            img{
                width: 100px;
            }
            width: 420px;
            height: 100px;
            padding:10px;
            border-radius: 12px;
            box-shadow: 0px 0px 3px black;
        }
    }
}
.section5{
@include container();
margin-top: 150px;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
row-gap: 45px;

    .s5{
@include column();
        p:first-child{
color: $maincolor;
font-size: 20px;
        }
        h1{
            color: $h1color;
        }
        p:nth-child(3){
            @include colorp();
        }
    }
    .s55{
        width: 300px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #25599e27;
        border-radius: 15px;
        p{
            @include colorp();
            font-size: 16px
        }
        button{
            @include buttons();
            padding: 10px;
            width: 150px;
            font-size: 16px;
        }
    }
    .s5cards{
display: flex;
gap: 20px;
        .s5card{
            width: 210px;
            height: 240px;
            box-shadow: 0px 0px 3px black;
            position: relative;
            display: flex;
            padding: 5px;
            flex-direction: column;
            justify-content: space-around;
            border-radius: 10px;
align-items: center;
img{
    width: 120px;
}
.position{
    position: absolute;
    width: 140px;
    top: 5px;
}
            h2{
                margin-top: 20px;
                color: $h1color;
            }
            p{
                @include colorp();
            }
        }
    }
}
.section6{
@include container();
margin-top: 150px;
.aside{
p:first-child{
    color: $maincolor;
}
h1{
    color:$h1color
}
p:nth-child(3){
    @include colorp();
}
}
div{
    display: flex;
    align-items: center;
}
.s6img{
    width: 690px;
}

}
.section7{
@include container();
display: flex;
flex-direction: column;
row-gap: 50px;
margin-top: 150px;
    img{
        width: 300px;
    }
    .s77{
        p{
            color: $maincolor;
                text-align: center;
                font-size: 20px;

        }
    h1{
    color: $h1color;
    text-align: center;
    font-size: 40px;
    }
    }
    .s7cards{
display: flex;
gap: 120px;
        .s7card{
            width: 250px;
            height: 350px;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
             h4{
                color: $h1color;
                width: 200px;
margin: auto;  
           }
             p{
                color: grey;
                font-size: 16px;
                margin-left: 25px;
             }
             .s7fl{
display: flex;
                img{
                    width: 30px;
                    height: 5px;
                    margin-top: 5px;

                }
             }
        }
    }
}
.footer{
@include container(); 
   margin-top: 150px;

padding: 50px;
color: white;
.p1{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    .fpflex{
         display: flex;
    flex-direction: column;
    row-gap: 15px;
    }
}
aside{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 250px;
    .input{
        width: 300px;
        input{
            background-color: transparent;
            border: 1px solid white;
            padding: 5px;
            border-radius: 10px;
            width: 200px;
            border-right: none;
            border-top-right-radius:0px ;
            border-bottom-right-radius:0px ;
        }
display: flex;
button{
    width: 150px;
color: black;
background-color:white ;
padding: 10px;
border-radius: 5px;
font-size: 15px;
}
    }
}

}

.foot{
    @include container();
    background-color: #20202D;
    display: flex;
    color: white;
   align-items: center;
   justify-content: space-around;
   padding: 20px;
}

