* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
header div {
  display: flex;
  gap: 50px;
  align-items: center;
}
header div nav {
  display: flex;
  gap: 20px;
}
header input {
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
}

.section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
.section1 aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}
.section1 aside h1 {
  font-size: 50px;
}
.section1 aside button {
  background-color: #217BF4;
  padding: 15px 40px;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  background-color: #E8F1FE;
  color: #217BF4;
}
.section1 aside div button:first-child {
  background-color: #217BF4;
  padding: 15px 40px;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 18px;
}
.section1 aside div button:last-child {
  background-color: #217BF4;
  padding: 15px 40px;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  background-color: white;
  border: 1px solid #217BF4;
  color: #217BF4;
}

.section2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}
.section2 p:first-child {
  color: #217BF4;
  font-size: 25px;
}
.section2 h1 {
  font-size: 40px;
}
.section2 .p {
  width: 450px;
  color: grey;
  font-size: 20px;
}
.section2 .s {
  display: flex;
  align-items: center;
  gap: 20px;
}
.section2 .s .ss {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.section2 aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}
.section2 aside .rowgap {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  font-weight: 600;
  font-size: 18px;
}
.section2 aside .rowgap p:nth-child(1) {
  font-size: 18px;
}

.section3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}
.section3 .s3flex {
  display: flex;
  gap: 40px;
}
.section3 .flex {
  display: flex;
  align-items: center;
  gap: 10px;
}
.section3 .flex p {
  color: grey;
}
.section3 .flex p span {
  color: #217BF4;
  font-size: 16px;
  font-weight: 600;
}
.section3 .card {
  border-radius: 10px;
  width: 240px;
  box-shadow: 0px 0px 5px black;
  height: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.section3 .card .pp {
  color: #656464;
  font-size: 18px;
}
.section3 .card .pj {
  color: #217BF4;
  font-size: 18px;
}

aside {
  width: 400px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
aside p:first-child {
  color: #217BF4;
}
aside p:nth-child(3) {
  color: grey;
  font-size: 20px;
}
aside button {
  background-color: #217BF4;
  padding: 15px 40px;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  width: 270px;
}
aside h1 {
  color: #0A093D;
  font-size: 40px;
}

.section4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  margin-top: 150px;
}
.section4 .clmn {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  text-align: center;
  row-gap: 5px;
}
.section4 .clmn p:first-child {
  color: #217BF4;
  font-size: 20px;
  font-weight: 600;
}
.section4 .clmn h1 {
  font-size: 30px;
  color: #0A093D;
}
.section4 .clmn p:nth-child(3) {
  font-size: 18px;
  color: grey;
}
.section4 .s4cards {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.section4 .s4cards .crdtop {
  display: flex;
  gap: 30px;
}
.section4 .s4cards .s4card {
  display: flex;
  align-items: center;
  gap: 15px;
}
.section4 .s4cards .s4card .crdclmn {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.section4 .s4cards .s4card .crdclmn h2 {
  color: #0A093D;
}
.section4 .s4cards .s4card .crdclmn p {
  color: #656464;
  font-size: 18px;
}
.section4 .s4cards .s4card img {
  width: 100px;
}
.section4 .s4cards .s4card {
  width: 420px;
  height: 100px;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0px 0px 5px black;
}/*# sourceMappingURL=style.css.map */